{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    <h3 class='blocTitle'>
        <span class='titleModule'>Newsletter registration</span>
    </h3>

    {{ form(form) }}
{% endblock %}
